/* Nil */
/*
    A webpage which includes donations/products/and saving data
*/ 

.format-code {
    display: inline-block;
    max-height: 400px; max-width: 800px;
    overflow: scroll;
    padding: 0.5rem; margin-top: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
}

.theme-dark { color: white; background-color: rgb(32,32,32);}
.theme-default {color: black; background-color: rgb(236,236,236);}
.expand { max-height: none; max-width: none; overflow: auto; overflow-x: scroll; display: block;}
.inOut-change { transition: all 0.266s ease-in-out;}
.in-change  { transition: all 0.266s ease-in;}
.in-change  { transition: all 0.266s ease-in;}
.format-code span.var { color: royalblue; font-weight: bold; }
.format-code span.highlight { background-color: rgba(255,255,0,0.5);}
.format-code span.string { color: rgb(177, 109, 78); }
.format-code span.num { color: rgb(90, 150, 90); }
.format-code span.func { color: rgb(56, 82, 161); font-weight: bold; }
.format-code span.event { color: rgb(202, 163, 78)}
.format-code span.bool { color: rgb(97, 72, 209); }
.theme-dark span.highlight { background-color: rgba(255,255,255,0.25);}
.theme-dark span.num { color: rgb(121, 192, 121); }
.theme-dark span.func { color: rgb(81, 160, 212); font-weight: bold; }
div.indent { padding-left: 2rem; }

/* Buttons */
.preset-btn { padding: 10px; color: white; background-color: royalblue; border: none; cursor: pointer; margin-right: 5px; }
.preset-btn:hover { background-color: rgb(32, 51, 107);}
button.disabled { background-color: rgb(200,200,200); color: white; }
button.disabled:hover { background-color: rgb(200,200,200); color: white;  }