.gallery {
    columns: 25rem;
    display: block;
}

.image {
    border-radius: 1rem;
    margin-bottom: 10px;
    filter: brightness(1);
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 1rem;

    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 900px) {
    .gallery {
        columns: 18.75rem;
    }
}

.image img:hover {
    filter: brightness(1.1) contrast(1.025);
}