* { box-sizing: border-box; }

/* Main Elements */
html { scroll-behavior: smooth; }

body { 
    margin: 0 auto;
    overflow-x: hidden;
    background-image: url(../img/Gallery/thumbnail_1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

/* Header */
header {
    background-color: rgba(0,0,0, 0.25);
    padding: 0 10%;
    display: grid;
    grid-template-columns: 85px auto;
}

header div#logo { grid-area: 'left'; padding-right: 15px; }
header div#logo img { padding: 5px; width: 75px; filter: drop-shadow(0 0 0.5rem rgba(0,0,0, 0.25)); }

/* Header > Menu */
header div.menu { margin: auto 0px auto auto; font-family: 'Rubik'; padding-right: 5px; }

header div.menu a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

header div.menu a:hover {
    background-color: rgb(0,0,0);
    cursor: pointer;
}

header div.menu div.dropdown {
    display: inline-block;
    position: relative;
}

header div.menu div.dropdown a span { padding-right: 5px; }

header div.menu div.dropdown a img {
    height: 25px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

header div.menu div.dropdown div.mobile { display: none; }
header div.menu div.dropdown a img#mobile_menu { display: none; }

@media (max-width: 850px) {
    header div.menu a.main { display: none; }
    header div.menu div.dropdown a { display: block; }
    header div.menu div.dropdown a span { display: none; }
    header div.menu div.dropdown div.mobile { display: block; background-color: rgb(40,50,60); }
    header div.menu div.dropdown a img#mobile_menu { display: block; top: 0px; }
    header div.menu div.dropdown a img#dropdown { display: none; }
}

/* Actual Dropdown Menu */
header div.menu div.dropdown div.buttons {
    display: none;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

@media (max-width: 850px) {
    header div.menu div.dropdown div.buttons {
        width: auto; right: 0px;
        background-color: black;
    }
}

header div.menu div.dropdown div.buttons a { display: block; }
header div.menu div.dropdown div.buttons a:hover { color: lightskyblue; }
header div.menu div.dropdown:hover div.buttons { display: block; }

/* Section i.e page content */
div.section {
    background: black;
    padding: 10px 12.5%;
    font-family: 'Rubik';
    color: white;
}

div.section p { line-height: 1.5rem; }

div.section.gallery {
    background-color: rgba(0,0,0, 0.5);
}

/* Welcome */
div.welcome {
    padding: 10px;
    height: calc(100vh - 250px);
    color: white;
    justify-content: center; align-items: center;
    display: flex;
}

div.welcome div {
    font-family: 'Rubik';
    border-bottom: #a58d69 solid 2px;
    padding: 20px; background: rgba(0,0,0, 0.5);
    display: inline-block;
    font-size: x-large; text-align: center;
}

div.welcome div span#small { font-size: medium; }

/* Galleries */

div.galleries {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33.3%);
}

div.galleries div.image {
    margin: 0px 10px 10px 0;
    display: inline-block;
    position: relative;
}

div.galleries div.image img {
    width: 100%;
    border-radius: 6px;
}

/* Credits */
div.credits {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
}

div.credit {
    background-color: rgb(40,40,40);
    padding: 12.5px;
    margin: 0px 10px 10px 0;
}

/* Feature Boxes */

div.features {
    display: grid;
    grid-template-columns: repeat(auto-fill, 33.3%);
    font-family: 'Rubik';
    justify-content: center;
}

div.features div.box {
    display: inline-block;
    position: relative;
    margin: 0px 20px 20px 0px;
    background-color: rgb(25,25,25);
}

div.features div.box * {
    margin-block-end: 0px; margin-block-start: 0px;
}

div.features div.box img {
    display: block;
    width: 100%;
}

div.features div.box .title { padding: 12px; font-size: large; }
div.features div.box p { padding: 12px; padding-top: 0px; color: rgb(230,230,230); font-weight: lighter; }

/* Media */
@media (min-width: 1000px) and (max-width: 1800px) {
    div.features { grid-template-columns: repeat(auto-fill, 50%); }
}

@media only screen and (max-width: 1000px) {
    div.features { grid-template-columns: repeat(auto-fill, 100%); }
    div.galleries { grid-template-columns: repeat(auto-fill, 50%);}
    div.credits { grid-template-columns: repeat(auto-fill, 50%);}
    div.features div.box { margin: 0px 0px 20px 0px; }
}

@media (max-width: 600px) {
    div.section { padding: 10px 5%; }
    div.galleries { grid-template-columns: repeat(auto-fill, 100%);}
    div.credits { grid-template-columns: repeat(auto-fill, 100%);}
    div.galleries div.image { margin: 0px 0px 10px 0px; }
    div.credits div.credit { margin: 0px 0px 10px 0px; }
}

/* Update Log */
details.update-log {
    padding: 10px; 
    background-color: rgb(20,20,20);
    margin-bottom: 10px;
    user-select: none;
}

details.update-log div {
    padding-top: 10px;
}
details.update-log summary { cursor: pointer; }
details.update-log[open] summary {
    color: lightskyblue;
}

/* Other */
.top-design { border-top: 2px solid #a58d69; }
.background { background-color: black; display: inline-block; padding: 10px; }
div.light { background-color: rgb(50,50,50) }
.centered { text-align: center; }
.hidden { opacity: 0.5; }

#highlight { color: #b99f78; }
#blueify { color: lightskyblue; }
#red {
    color: rgb(200,100,100);
    padding: 5px; margin: 0 10px;
    font-size: smaller;
    background: rgb(40,40,40)
}
#thin { font-weight: lighter; }
#link {
    color: lightskyblue;
    text-decoration: none;
}
#link:hover { color: rgb(96, 154, 190); }