.the-detail {
    padding: 5px; 
    background-color: aliceblue; 
    margin-top: 5px; 
    border-radius: 10px;
}
.in-detail {
    outline: none; user-select: none;
    padding: 5px; background-color: #cfd4e2;
    border-radius: 10px;
}
.the-detail {
    margin-top: 5px;
}