h1 { display: block; color: #5d6680; border-bottom: solid #5d6680; }
h3 { display: block; font-weight: 100; margin-block-end: 0; margin-block-start: 0;}
body {
    cursor: default; 
    position: relative;
    font-family: Calibri; 
    margin: 25px;
    left: 50%; margin-left: -250px;
    background-color: aliceblue; 
    max-width: 500px;
}
.box { padding: 10px; background-color: #cfd4e2; margin-bottom: 12.5px; transition: all 0.1s ease-in-out;}
.box:hover { box-shadow: 0 0 0.33rem grey;}

.box2 {
    background: none;
    border-width: 2px;
    border-color: #5d6680;
    border-style: inset;
    padding: 10px;
    margin-bottom: 12.5px;
}
.box2:hover {
    border-width: 10px;
}

details {
    padding: 5px; 
    background-color: rgb(255,255,255); 
    margin-top: 5px; 
    border-radius: 10px; 
}

details:focus {
    outline: none;
}

@media (max-width: 550px) {
    body {
        margin-left: none;
        margin: 25px;
        left: 0;
    }
}