body {
    display: block;
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto; margin-right: auto;
    padding: 20px;
    padding-top: 0;
}

.topInfo {
    background: rgb(220,220,220);
    display: block;
    padding: 10px;
    border-radius: 0.5rem;
}

.header { color: green; box-shadow: 0 0 1rem grey; padding: 1rem; margin-block-start: 0;}
.header a { 
    font-size: 18px;
    margin-right: 5px; 
    padding: 5px; 
    background-color: rgb(230,230,230); 
    text-decoration: none; 
    color: green;
    opacity: 0.5;
} 
.header a:hover { opacity: 1; }
