body {
    max-width: 400px;
    display: block;
    margin: 0; padding: 1em; margin-left: auto; margin-right: auto;
    font-family: 'Calibri';
    background: rgb(30,30,30);
}

.timer {
    padding: 10px;
    text-align: center;
    background: rgba(255,255,255,0.25);
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#start {
    background: rgb(143, 255, 143);
}

#stop {
    background: rgb(241, 140, 140);
}

#reset {
    background: rgb(255, 215, 140);
}

button:hover {
    filter: brightness(0.9)
}

button:active {
    box-shadow: 0 4px 0.5rem rgba(120,120,120,0.4);
}

input {
    display: block;
    width: 376px;
    margin-bottom: 5px;
    padding: 10px;
}