body {
    max-width: 400px;
    display: block;
    margin: 0; padding: 1em; margin-left: auto; margin-right: auto;
    font-family: 'Calibri';
    background: rgb(30,30,30);
}

.timer {
    color: white;
    padding: 10px;
    text-align: center;
    background: rgba(255,255,255,0.25);
    margin-bottom: 10px;
}

a {
    display: block;
    max-width: 400px;
    margin-bottom: 5px;
    text-align: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: rgb(45,45,45);
    color: white;
    border: solid rgba(0,0,0,0) 1px;
    transition: background 0.4s ease-in-out;
}

a:hover { border: solid grey 1px; }

a#stop:hover { background: rgba(45,0,0) }
a#start:hover { background: rgba(0,45,20) }
a#reset:hover { background: rgba(45,20,0) }

a:active { border: solid white 1px; }

input {
    display: block;
    width: 376px;
    margin-bottom: 5px;
    padding: 10px;
}